/*-------------Custom-------------------*/
body{
    font-family: HelveticaNowText,sans-serif;
    font-weight:normal;
}

.context-menu{
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(220, 219, 219, 0.9);
    padding:0.5em 1em 0 0;
    border-radius: 0.2em;
}

.context-menu ul li{
    list-style: square;
}

//Content CSS

body{
    height:100vh;
    font-family:HelveticaNowText;
}


body a{
    text-decoration: none !important;
    color:unset;
}

body a:hover{
    color:unset;
}

#page-bg{
    background-image: url(../img/bg-img-flip.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
    /*-webkit-filter: blur(5px);
    filter: blur(5px);*/
}


//header CSS

.logo{
    position: absolute;
    left: 20px;
     /*bottom: 30px;*/
    top:30px;
}

.logo img{
    /* max-width:50px; */
    max-width:80px;
}


.text-forgot{
    color: #ff0088;
    }
    
    .bg-dim{
        background-color: rgba(0,0,0,.5);
    }
    
    .txt-lgt-gray{
        color:#CDDBDE;
    }
    
    .txt-drk-gray{
        color:#46535E;
    }
    
    .text-lightblue{
        color:#0084BB;
    }
    
    .bg-lgt-gray{
        background-color:#CDDBDE;
    }
    
    .bg-drk-gray{
        background-color:#46535E;
    }
    
    .bg-lightblue{
        background-color:#0084BB;
    }
    
    .txt-shadow{
        /* text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.45); */
        text-shadow: 0 3px 6px #e5eff0, 0 3px 6px rgba(0, 0, 0, 0.16);
    }
    
    .container-xxl{
        max-width: 1400px;
        width: 100%;
        padding-right: var(--bs-gutter-x,1rem);
        padding-left: var(--bs-gutter-x,1rem);
        margin-right: auto;
        margin-left: auto;
    }
    
    .container-xxxl {
        max-width: 2000px;
        width: 100%;
        padding-right: var(--bs-gutter-x,3rem);
        padding-left: var(--bs-gutter-x,3rem);
        margin-right: auto;
        margin-left: auto;
    }
    
    .container-xxxxl{
        max-width: 4000px;
        width: 100%;
        padding-right: var(--bs-gutter-x,15rem);
        padding-left: var(--bs-gutter-x,15rem);
        margin-right: auto;
        margin-left: auto;
    }
