/*-------------Overrides-------------------*/

//ELEMENTS THEME COLORS
$crimson: #EB0017;
$gold: #FFA600;
$light-blue: #EEF6F7;
$dark-gray: #46535E;
$light-gray: #ACC0C4;

.text-warning{
    color:#FFA600 !important;
}

.btn-warning {
    color: #fff !important;
    background-color: #FFA600 !important; /*ffc107*/
    border-color: #FFA600 !important;
}


//WHITE and GRAY COLORS
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary:       $gold;
$secondary:     $crimson;

//ACCORDION OVERRIDES
$accordion-icon-color:                    $primary;
$accordion-icon-active-color:             $secondary;

$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z'/></svg>");

$accordion-icon-width:                    1.875rem;



//IMPORT BOOTSTRAP5
@import "../node_modules/bootstrap/scss/bootstrap.scss";