
@use'custom';

//IMPORT COMPONENTS
@use'components/animations';
@use'components/mixins';
@use'components/typography';
@use'components/media-queries';

//IMPORT SECTIONS
@use'sections/buttons';
@use'sections/content';
@use'sections/navbar';
@use'sections/sidebar';
@use'sections/login';
@use'sections/models';
@use'sections/portfolio';


body{
    height:100vh;
    font-family:HelveticaNowText,Helvetica,Arial,sans-serif;
    color:#4D4F53;
    background-color: #f6f6f6;
}


body a{
    text-decoration: none !important;
    color:unset;
}

body a:hover{
    color:unset;
}

#page-bg{
    background-image: url(../img/bg-img-flip.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
    /*-webkit-filter: blur(5px);
    filter: blur(5px);*/
}

.logo{
    position: absolute;
    left: 20px;
     /*bottom: 30px;*/
    top:30px;
}

.logo img{
    /* max-width:50px; */
    max-width:60px;
}
