//Content CSS

body{
    height:100vh;
    font-family:HelveticaNowText;
    color:#46535E;
    background-color: #f6f6f6;
}


body a{
    text-decoration: none !important;
    color:unset;
}

body a:hover{
    color:unset;
}

#page-bg{
    background-image: url(../img/bg-img-flip.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
    /*-webkit-filter: blur(5px);
    filter: blur(5px);*/
}
