//------------Login Page-------------


#home-pg{
    background-image: url(../img/bg-img-flip.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-inner h5{
    font-family: "HelveticaDisplayLight", 'Times New Roman', Times, serif;
    margin-top: 0.5rem;
}


.caption-link a{
    text-decoration: none;   
    color: inherit;
    }
    
.news{
    color:#0084BB;
    font-family: HelveticaNowTextLtIt;
}

.carousel-indicators{
    position:absolute !important;
    bottom:-50px !important;
}

.carousel-indicators [data-bs-target] {
    border-radius: 50% !important;
    width:15px !important;
    height: 15px !important;
    background-color:#FFA600 !important;
    opacity: 1 !important;
}

.carousel-indicators .active {
    opacity: 1;
    background-color:#EB0017 !important;
}

.carousel-control-next, .carousel-control-prev {
    /* top: -130px; */
    height:60%;
}

.carousel-caption{
    position:unset !important;
    text-align: left;
   /* bottom:-50px !important;
   background-color: rgba(0, 0, 0, 0.66);*/
   background-color: #fff;
   color: #46535E;
}


.login-form{
    min-height:400px;
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 15px;
}

.login-form form img{
    width:200px; 
}

.login-form .title-text{
    color:#46535E;
    font-size: 1.2em;
}

.login-form .btn{
    width:23.5em;
}

.login-form {
    form{
        .text-forgot{
            font-weight:300;
            text-shadow: 0 3px 6px #e5eff0, 0 3px 6px rgba(0, 0, 0, 0.16);;
        }
    }
}

.carousel{
    min-height:400px;
}

.form-check .form-check-input {
    float: unset !important;
    margin-left: unset !important;
}


