//----------Model Page-------------

#model-pg .header{
    height:100px !important;
}

#model-pg #content{
    padding-top:0px;
    color:#262836;
}


#model-pg #content .card{
    max-height:475px;
    min-width:95%;
}

#model-pg .card img{
    max-width: 100px;
}

#model-pg .card-title {
    font-family: HelveticaNowTextBold;
    text-align: center;    
    color: #262836;
}

#model-pg .card{
    width: 250px;
    height: 618px;
    padding: 37px 19px 25.8px 22px;
    border-radius: 25px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

#model-pg .card-bg{
   /*  opacity: 0.25; */

    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color:#eef6f725;
    border-radius: 25px;
}

.scroll-box{
    overflow-y: scroll;
    height:35vh;
  /*   overflow-scrolling: touch; */
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.scroll-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background: #82939A/*#849aab*/;
    border-radius: 5px;
}

.scroll-box::-webkit-scrollbar {
    width: 5px;
}