//----------Model Page-------------

#model-pg .header{
    height:100px !important;
}

#model-pg #content{
    padding-top:100px;
}

#model-pg .card img{
    max-width: 100px;
}

#model-pg .card-title {
    font-family: HelveticaNowTextBold;
    text-align: center;    
}