//-----------Portfolio Page--------

#port-bg{
    background-color: #f6f6f6 !important;
}

.side-bar{
    position:absolute;
    top:0;
    left:0;
    z-index: 5000;
    background-color: #e9ecef;
    height: 100%;
    /*width:50px;*/
}

.side-bar .apps{
    background-color: #4D4F53;
    height:48.5px; /*35px*/
}

.side-bar .icons img{
    width:40px;
}

.side-bar .indicator{
    display: inline-flex;
    height: 55px;
    background: url(../img/indicator.svg);
    top: -10px;
    position: relative;
}

.side-bar .sep{
    display: block;
    background: url(../img/line.svg);
    height: 1px;
    margin-top: -6px; /*5*/
}

.top-row{
background-color: #4D4F53;
/* height: 60px; */
}

.top-row img.aon-logo{
    width:80px; /*100px*/
    max-width:100px;
}

.top-row img.if-logo{
    width:125px; /*184*/
    max-width:184px;
}

.top-row .help-icon{
    width:28px;
}

.top-row .user-icon{
    width:30px;
}

.top-row .hbm-icon{
    width:35px;
}

.bottom-row{
    background-color: #fff;
    height: 56px; /*100px*/
}


.port-content{
background-color: #f6f6f6;
min-height:90vh;
}

.port-content .jobs img{
width:100%;
}

.stop-delete{
    font-size: 0.5rem;
}


--------Scroll Code-------
.scroll-box{
    /* overflow-y: scroll !important; */
    height: 100px !important;/*92vh;*/
    /* -webkit-overflow-scrolling: touch !important; */
    /* overflow: hidden; */
    overflow-y: auto !important;
    scrollbar-width: thin !important;
}

 /* ------------Overrides------------*/
.text-warning{
    color:#F0AB00 !important;
}

.btn-warning {
    color: #fff !important;
    background-color: #F0AB00 !important; /*ffc107*/
    border-color: #F0AB00 !important;
}


#content .card{
    height:500px;
}

.card{
border-radius: 1.25rem !important;
}

.card-title {
    margin-bottom: 1.5rem !important;
}

/* .card-text{
    padding:0 10px 0 10px;
} */

.form-control{
    color:#4D4F53 !important;
}

.form-control:focus{
border-color: #ffc107;
outline: 0;
box-shadow: 0 0 0 0.25rem #ffc10757;
}

.dropdown-menu {
    border: 0px !important;
    border-radius:unset !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #bcbdbe !important;
}