/* Error: The default namespace "" is not a valid Sass identifier.
 * 
 * Recommendation: add an "as" clause to define an explicit namespace.
 *    ,
 * 21 | / @use'sections/'
 * 22 | | 
 * 23 | \ 
 *    '
 *   scss\style.scss 21:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: The default namespace \"\" is not a valid Sass identifier.\a\aRecommendation: add an \"as\" clause to define an explicit namespace.\a    \2577 \a 21 \2502  \250c  @use'sections/'\a 22 \2502  \2502  \a 23 \2502  \2514  \a    \2575 \a   scss\\style.scss 21:1  root stylesheet";
}
