/* Error: expected selector.
 *   ,
 * 6 | /*------Small Screens---------*∕
 *   |                                 ^
 *   '
 *   scss\components\_media-queries.scss 6:33  @use
 *   scss\style.scss 10:1                      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a   \2577 \a 6 \2502  /*------Small Screens---------*/\d\a   \2502                                  ^\a   \2575 \a   scss\\components\\_media-queries.scss 6:33  @use\a   scss\\style.scss 10:1                      root stylesheet";
}
